body{
    width: 100%;
    max-width: 1920px;
    font-family: "Poppins";
}
.conteiner{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    height: 75px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}
.header-nav-left{
    width: 97px;
    height: 27px;
    padding: 24px 307px 24px 390px ;
}
.header-nav-right{
    text-align: right;
    padding: 30px 390px 30px 0px;
    color: #272727;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
}
.menu-item{
    display: inline-block;
}
.menu-item-link{
    padding:0 0px 0 22px;
}
.section-1{
    background-image: url(../img/background-image\ s-2.jpg);
    height: 775px;
    width: 1920px;
}
.s-1_text_top{
    color: #ffffff;
    font-family: "Libre Baskerville";
    font-size: 60px;
    font-weight: 400;
    line-height: 85px;
    padding: 175px 553px 450px 549px;
    text-align: center;
}
.s-1_button{
    width: 98px;
    height: 12px;
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 16px;
    text-transform: uppercase;
    padding: 19px 41px;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fc5f45;
    margin: -374px 870px 83px 870px;
}
.s-1_bot_img-center{
    display: inline-block;
}
.s-1-img-1{
    padding-left: 668px;
}
.s-1-img-2{
    padding-right: 214px;
    padding-left: 214px;
}
.s-1-img-3{
    padding-right: 685px;
}
.s-1_bot_text-center{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 80px;
}
.s-1-text-1{
color: #38c695;
padding-left: 589px;
}
.s-1-text-2{
color: #b27cf5;
padding-left: 82px;
padding-right: 64px;
}
.s-1-text-3{
color: #feb960;
padding-right: 588px;
}
.s-3_img-left{
width: 555px;
height: 700px;
padding:149px 0px 151px 390px ;
}
.s-3_text-right{
width: 652px;
height: 550px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
background-color: #ffffff;
}
.text_top{
color: #313131;
font-family: "Libre Baskerville";
font-size: 50px;
font-weight: 700;
line-height: 80.02px;
padding: 94px 318px 48px 75px;
}
.text_bot{
color: #616161;
font-size: 15px;
font-weight: 400;
line-height: 27.01px;
padding: 0px 83px 46px 83px;
}
.section-2{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}
.s-3_text-right{
    margin: 224px 390px 226px 0px ;  
}