body {
    width: 100%;
    max-width: 1920px;
    font-family: "Poppins";
}
.header {
    padding: 25px 0;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}
.container {
    max-width: 1122px;
    width: 90%;
    margin: 0 auto;
}
.flex-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-right {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
}
.menu-item {
    display: inline-block;
    margin-left: 20px;
}
.menu-item-link,
.menu-item-link:visited,
.menu-item-link:active {
    color: #272727;
}
.section-1 {
    background-image: url(../img/background-image-s-2.jpg);
    height: calc(100vh - 75px);
    background-color: rgba(38, 39, 50, 0.85);
}
.main-baner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baner-title {
    color: #ffffff;
    font-family: "Libre Baskerville";
    font-size: 60px;
    font-weight: 400;
    line-height: 85px;
    text-align: center;
    margin-bottom: 50px;
    max-width: 820px;
}
.orange-button {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding: 19px 41px;
    border-radius: 25px;
    background-color: #fc5f45;
    margin-bottom: 80px;    
}
.banner-icons {
    display: flex;
    width: 100%;
    justify-content: center;
}
.banner-icons-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}
.banner-icons-image {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
}
.purple {
    color: #b27cf5;
}
.green {
    color: #38c695;
}
.yellow {
    color: #feb960;
}
.about-wraper-lines {
    display: flex;
}
.about-wraper-lines span {
    flex: 1;
    height: 3px;
}
.bg-red {
    background-color: #fc5f45;
}
.bg-green {
    background-color: #38c695;
}
.bg-purple {
    background-color: #b27cf5;
}
.bg-yellow {
    background-color: #feb960;
}
.about-wraper-text {
    padding: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-image: url(../img/2-layers.jpg);
}
.about-wraper-right {
    margin-left: -60px;
}
.about {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 80.02px;
    margin-bottom: 50px;
}
.textone {
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.01px;
}
.about-wraper-text .textbot {
    margin-top: 40px;
}
.section-2 {
    max-width: 1920px;
    width: 100%;
    height: 1000px;
    background-color: #ffffff;
}
.section-3 {
    background-image: url(../img/1200x500.jpg);
    width: 1920px;
    height: 500px;
}
.Explore { 
    text-align: center;
}
.Explore-texttop {
    display: block;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 33px;
}
.Explore-img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
}
.Explore-textbottom {
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}
.section-4 {
    max-width: 1920px;
    width: 100%;
    height: 1385px;
    background-image: url(../img/3-layers.jpg);
}
.portfolio-text {
    text-align: center;
}
.portfolio-text-top {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    padding-top: 140px;
    margin-bottom: 40px;
}
.portfolio-text-bottom {
    color: #616161;
    font-size: 18px;
    font-weight: 400;
}
.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}
.ptoject_top { 
    display: inline-block;
    margin: 7px;
    position: relative;
    overflow: hidden;
}

.ptoject_top:hover .project_textbot {
    bottom: 0;
}

.project_img {
    width: 360px;
    height: 220px;
}
.project_textbot {
    display: block;
    color: #313131;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 120px;
    position: absolute;
    bottom: -40px;
    transition: all .3s ease-in;
}
.ptoject-spaceimg {
   margin: 7px; 
}
.line-3 {
    height: 3px;
}
.lost-section3 {
    max-width: 1920px;
    width: 100%;
    height: 824px;
    background-image: url(../img/lostS-3.jpg);
}
.focus_img {
    width: 50px;
    height: 40px;
    margin-bottom: 30px;
}
.focus_texttop {
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.focus_textbot {
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.focus_bot {
    width: 260px;
    height: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 60px 30px;
}
.focus-text {
    text-align: center;
}
.focus-text-top {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 140px;
}
.focus-text-bottom {
    color: #616161;
    font-size: 18px;
    font-weight: 400;
}
.about-focus-lines {
    display: flex;
}
.about-focus-lines span {
    width: 260px;
    height: 3px;  
}
.focus {
    display: flex;
    justify-content: center;
}
.focus-case {
    margin-right: 30px;
}
.focus-case:last-child {
    margin-right: 0;
}
.team-img-one {
    width: 263px;
    height: 270px;
    margin-bottom: 17px;
}
.team_text_one {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 13px;
}
.team_text_two {
    color: #616161;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 16px;
}
.textteam {
    display: block;
    text-align: center;
}
.team_image {
    width: 263px;
    height: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}
.section-5 {
    max-width: 1920px;
    width: 100%;
    height: 1226px;
    background-image: url(../img/4-layers.jpg);
}
.team-text {
    text-align: center;
}
.team-text-top {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 150px;
}
.team-text-bottom {
    display: block;
    color: #616161;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 75px;
}
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 40px 30px;
    border-color: transparent transparent #ffffff transparent;
    left: 100px;
    position: relative;
    top: 5px;
    z-index: 5;
}
.bennet-line {
    width: 2px;
    height: 151px;
    background-color: #efefef;
}
.internet-info-img {
    width: 15px;
    height: 15px;
}
.team_lost {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.team_red {
    color: #fc5f45;
}
.team_green {
    color: #38c695;
}
.team_purple {
    color: #b27cf5;
}
.team_yellow {
    color: #feb960;
}
.bennet-line {
    margin-left: 30px ;
    margin-right: 20px ;
}
.bennet-info {
    padding: 75px 100px;
    max-width: 1100;
    width: 100%;
    height: 391px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}
.bennet-img_right {
    width: 36px;
    height: 36px;
}
.bennet-text_top {
    color: #272727;
    font-size: 20px;
    font-weight: 500;
}
.bennet-top {
    margin-bottom: 30px;
}
.bennet-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bennet-text_bottom {
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    height: 151px;
    line-height: 27px;
    margin-right: 110px;
}
.img_bennet_info {
    display: flex;
    flex-direction: column;
}
.internet-info-text {
    color: #616161;
    font-size: 15px;
    font-weight: 400
}
.internet-info-text::before {
    display: inline-block;
    content: url(../img/instagram.svg);
    margin-right: 3px;
}
.section-6 {
    background-image: url(../img/coffe.jpg);
    width: auto;
    height: 464px;
}
.coffe-project {
    display: flex;
    justify-content: space-between;
}
.coffe-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 160px;
}
.coffe-box_one {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coffe-p-img-top {
    width: 51px;
    height: 48px;
    margin-bottom: 30px;
}
.coffe-p-text-top {
    color: #fefefe;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.coffe-p-text-bot {
    opacity: 0.7;
    color: #fefefe;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 35px;
}
.coffe-p-img-bot {
    width: 15px;
    height: 16px;
}
.section-7 {
    background-image: url(../img/work-steps-bg.jpg);
    width: auto;
    height: 1726px;
}
.work_steptext {
    text-align: center;
    padding-top: 140px;
}
.work_steptext-top {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 27px;
}
.work_steptext-bottom {
    display: inline-block;
    color: #616161;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 128px;
}
.work_stepimg_center{
    display: flex;
    flex-direction: column;
}
.work_stepimg{
    width: 556px;
    height: 300px;
}
.project_understanding {
    padding: 57px 70px;
    text-align: left;
    position: absolute;
    height: 301px;
    width: 458px;
    z-index: 5;
    background-repeat: no-repeat;
}
.pu-texttop {
    color: #272727;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}
.pu-textbottom {
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
}
.workstep_center {
    position: relative;
}
.project_understanding1 {
    background-image: url(../img/pj-1.png);
    right: 390px;
    bottom: 50px;
}
.project_understanding2 {
    background-image: url(../img/pj-2.png);
    left: 390px;
    bottom: 50px;
}
.project_understanding3 {
    background-image: url(../img/pj-3.png);
    right: 390px;
    bottom: 50px;
}
.project_understanding4 {
    background-image: url(../img/pj-4.jpg);
    left: 390px;
    bottom: 50px;
}
.section-8 {
    background-image: url(../img/section-6.png);
    width: auto;
    height:1049px;;
}
.pricing-top {
    color: #313131;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 27px;
}
.pricing-bottom {
    display: inline-block;
    color: #616161;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 75px;
}
.pricing-text {
    text-align: center;
    padding-top: 145px;
}
.category {
    display: flex;
    justify-content: center;
}
.starter {
    width: 360px;
    height: 575px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 35px 80px;
}
.ultimate {
    width: 360px;
    height: 575px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 35px 80px;
}
.professional {
    width: 360px;
    height: 575px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 35px 80px;
}
.category-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.category1 {
    margin-right: 30px;
}
.category2 {
    margin-right: 30px;
}
.column-starter8 {
    display: inline-block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #38c695;
    background-color:white;
    text-align: center;
    padding-top: 17px;
    font-family: "Poppins - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color:#38c695;
}
.column-starter1 {
    color: #313131;
    font-size: 20px;
    font-weight: 500;
}
.column-starter2::before {
    content:"200GB";
    font-size: 15px;
    color: #272727;
    font-weight: bold;
    margin-right: 5px;
}
.column-starter3::before {
    content:"20";
    font-size: 15px;
    color: #272727;
    font-weight: bold;
    margin-right: 5px;
}
.column-starter4::before {
    content:"2TB";
    font-size: 15px;
    color: #272727;
    font-weight: bold;
    margin-right: 5px;
}
.column-starter::before {
    content:"✓";
    font-size: 15px ;
    font-weight: bold;
    margin-right: 10px;
}
.column-circle {
    width: 106px;
    height: 106px;
    box-shadow: 0 0 0 3px #38c695;
    border: 3px solid #ffffff;
    background-color: #38c695;
    background-color: #38c695;
    border-radius: 50% ;
    text-align: center;
    padding-top: 30px; 
}
.circle-starter1 {
    font-size: 25px;
    color: #ffffff;
}
.circle-starter2 {
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}
.column2-starter2::before {
    content:"800GB";
    font-size: 15px;
    color: #272727;
    font-weight: bold;
    margin-right: 5px;
}
.column2-starter3::before {
    content:"Unlimited";
    font-size: 15px;
    color: #272727;
    font-weight: bold;
    margin-right: 5px;
}
.column2-starter4::before {
    content:"10TB";
    font-size: 15px;
    color: #272727;
    font-weight: bold;
    margin-right: 5px;
}
.column-circle2 {
    width: 106px;
    height: 106px;
    box-shadow: 0 0 0 3px #fc5f45;
    border: 3px solid #ffffff;
    background-color: #fc5f45;
    background-color: #fc5f45;
    border-radius: 50% ;
    text-align: center;
    padding-top: 30px; 
}
.column2-starter8 {
    display: inline-block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fc5f45;
    text-align: center;
    padding-top: 17px;
    font-family: "Poppins - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
.column-circle3 {
    width: 106px;
    height: 106px;
    box-shadow: 0 0 0 3px #b27cf5;
    border: 3px solid #ffffff;
    background-color: #b27cf5;
    background-color: #b27cf5;
    border-radius: 50% ;
    text-align: center;
    padding-top: 30px; 
}
.column3-starter8 {
    display: inline-block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid  #b27cf5;
    background-color:white;
    text-align: center;
    padding-top: 17px;
    font-family: "Poppins - Semi Bold";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b27cf5;
}